/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require social-share-button
 *= require_self
 */


#secondary a:hover {
	text-decoration: none;
}

#tag1{
	background: #3CBC8D;
}
#tag2{
	background: #248AAF;
}
#tag3{
	background: #EB5745;
}
#tag4{
	background: #FAC552;
}
.post a img{
	height: 200px;
}
.block .post a img{
	height: 120px;
}
.social-share-button{
	display: inline-block;
	position: absolute;
	margin-top: -16px;
}

.fan article img{
	height: 190px;
}
.related .post img{
	height: 120px;
}


